doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='1M Pug Snowpack Template')
    link(rel='shortcut icon' href='./favicon.ico' type='image/x-icon')
    link(rel='stylesheet' type='text/css' href='./global.css')
    script(defer='' type='module' src='./src/index.js')
    title 1M Pug SnowPack Template

  body
    header
      nav.wrap
        h3 LogoHere
        ul.canHazBurger
          li
          li
          li
        ul.navMain.hidden
          li item1
          li item2
          li item3
          li item4
